<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.we2app.accelerometer-test"
        version     = "1.2.1"
        versionCode = "10" >
        <!-- versionCode is optional and Android only -->
        <preference name="phonegap-version" value="cli-8.0.0" />

        <name>Accelerometer test</name>
        <description>Simple Accelerometer test.</description>
        <author href="http://we2app.com" email="atik@we2app.com">
        Atik
        </author>
        <icon src="icon.png" />
        <gap:platform name="android" />
        <gap:platform name="ios" />

        <preference name="permissions" value="none"/>
        <!-- device required so we can detect if we are using iOS -->
        <plugin name="cordova-plugin-device" spec="~2.0.2" />
        <plugin name="cordova-plugin-device-motion" spec="~2.0.1" />
    </widget>
